<div class="card">
  <div class="card-body">
    <%= simple_form_for([ @user], url: change_password_path) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <%= errors_for(@user) %>
    <div class="form-inputs">
      
      <%= f.input :password, hint: 'Leave blank unless you want to change the password. Length: 8. Use 1 uppercase, 1 lowercase, 1 digit and 1 special character (for example ! or -)' %>   
      
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>