<div class="card">
  <div class="card-body">
    <%= simple_form_for([ @user], url: settings_path) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
   <%= errors_for(@user) %>
    <div class="form-inputs">
      <div class="row">
        <div class='col'><%= f.input :first_name, as: :string %></div>
        <div class='col'><%= f.input :last_name, as: :string %></div>
      </div>
      
      <%= f.input :email %>
    
      <%= f.input :time_zone, input_html:{class: 'select-advanced' } %>

      <div class="mb-3">
        <%= f.input :avatar %>
        <% if f.object.avatar.attached? %> 
        <%= image_tag f.object.avatar %>
        <hr>
        <%= image_tag f.object.avatar.variant(:thumb) %>

        <% end %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>