<!DOCTYPE html>
<html>
  <head>
    <title>Example.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "site", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= display_meta_tags site: "My website" %>
  </head>

  <body class="pt-5">
    <%= render 'shared/site/header' %>
    <%= render 'shared/notices' %>
    <div class="container pt-3 overflow-y-auto">
      <%= render 'shared/site/breadcrumbs' %>
    </div>
    <%= yield %>
    <%= render 'shared/site/footer' %>
  </body>
</html>
