<!DOCTYPE html>
<html>
  <head>
    <title>Appy6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "site", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    SITE HEADER
      <%= render 'shared/notices' %>
    <%= yield %>
    SITE FOOTER
  </body>
</html>
